header{
    background-color: $second-bg-color;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        .bigTitle{
            transition: .3s ease-in-out;
            &:hover{
            transform: scale(1.05);
            }
        }
        .navbar a{
            margin: 10px;
            border-bottom: 3px solid transparent;
            transition: 0.3s ease-in-out;
            &:hover{
                border-bottom: 3px solid $main-color;
            }
        }
    }
}